admin/config/
shared/config/
public/config/

#editors use files ending on tilde a lot
*~

#do not upload user passports
**passports.zip
/cache/passports
/cache/passports*
/cache/passports/*
/cache/passports/**/*

