#userLcd {
	float: right;
	background-color: white;
	border: 1px solid silver;
	border-radius: 3px;
	margin: 4px;
}

/* header (logo + timer) ------------ */
div.header {
	width: 100%;
	height: 40px;
	position: relative;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: white;
}

/* header logo ------------ */
div.header div.left {
	float: none;
	height: 150px;
	width: 100%;
	background-color: white;
	margin: 0px;
	padding: 0px;
	text-align: left;
}

/* header banner ------------ */
div.header div.right {
	background-color: white;
	border: 0px none;
	float: right;
	height: 25px;
	margin: 0px 0px 0px 0px;
	margin-top: -130px;
	padding: 0px 0px 0px 0px;
	text-align: right;
	width: 400px;
}

div.header div.right input {
	background-color: white;
	border: 0px none;
	color: #003399;
	font-size: 100%;
	font-weight: bold;
	text-align: right;
	width: 155px;
}

div.message {
	background-color: #99ccff;
	font-size: 95%;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	padding: 3px 3px 3px 3px;
	width: 100%;
}

label.timerlabel {
	color: white;
}
